/* The add button starts here*/
  
.buttons {
    display: inline-block;
    border-radius: 7px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.9s;
    cursor: pointer;
    margin: 5px;
    align-items: end;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.9s;
   }
   
   button span:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.9s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }

  /*add button ends here*/